name: RustDesk Custom Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Flutter version tag (stable, beta, dev, nightly or specific version like 3.22.2)'
        required: true
        default: 'nightly'

env:
  RENDEZVOUS_SERVER: ${{ secrets.RENDEZVOUS_SERVER }}
  RS_PUB_KEY: ${{ secrets.RS_PUB_KEY }}
  API_SERVER: ${{ secrets.API_SERVER }}
  FIXED_PASSWORD: ${{ secrets.FIXED_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ github.event.inputs.version }}
          cache: true

      - name: Modify Config Files
        run: |
          # 修改服务器配置
          sed -i "s|pub const RENDEZVOUS_SERVERS: &\[&str\] = &\[.*\];|pub const RENDEZVOUS_SERVERS: \&[&str] = \&[\"$RENDEZVOUS_SERVER\"];|g" libs/hbb_common/src/config.rs
          sed -i "s|pub const RS_PUB_KEY: &str = \".*\";|pub const RS_PUB_KEY: \&str = \"$RS_PUB_KEY\";|g" libs/hbb_common/src/config.rs

          # 添加固定密码
          echo 'pub static ref HARD_SETTINGS: RwLock<HashMap<String, String>> = {
            let mut map = HashMap::new();
            map.insert("password".to_string(), "'"$FIXED_PASSWORD"'".to_string());
            RwLock::new(map)
          };' | tee -a libs/hbb_common/src/config.rs

          # 修改 API 服务器地址
          sed -i "s|\"https://admin.rustdesk.com\".to_owned()|\"$API_SERVER\".to_owned()|g" src/common.rs

      - name: Build Windows
        run: |
          flutter pub get
          flutter build windows --release
          cd braum5130/rustdesk/flutter/windows
          zip -r rustdesk-custom-windows.zip ./*

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rustdesk-custom-windows
          path: braum5130/rustdesk/flutter/windows/rustdesk-custom-windows.zip
